@tailwind base;
@tailwind components;
@tailwind utilities;
.slick-dots li button:before {
  color: white !important;
  opacity: 0.5 !important;
}

.slick-dots li.slick-active button:before {
  color: #0A66C2 !important;
  opacity: 1 !important;
}
html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    scroll-padding: 3rem;
  }
  @media (max-width: 768px) { /* for mobile devices */
    html {
      scroll-padding-top: 14rem;
    }
  }


